ul.list {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul.list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul.list li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul.list li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul.list li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul.list li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.buttons-wrapper {
    justify-content: flex-end !important;
}

.more-btn {
    background-color: aqua;
    color: #000000 !important;
    margin-top: 15px !important;
}